<h1>みんなのおはなし</h1>

<% @posts.each do |post| %>
  <%= link_to post_path(post) do %>
    <div>
      <p><%= post.user.name %></p>
      <p><%= post.content %></p>
    </div>
  <% end %>
<% end %>

<p>
  <%= link_to "自分もおはなしする！", new_post_path %>
</p>
