*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #fff3cd;
}

h1{
  text-align: center;
}

header{
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  min-height: 80px;
  background-color: #8ca18c;
}

nav{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  padding: 16px;
  font-size: 22px;
}

nav form{
  margin: 0;
}

.userName{
  margin-left: auto;
  font-weight: 500;
  color: #fff3cd;
}

.logoutBtn,nav a{
  font-size: 22px;
  background-color: #fff3cd;
  border: 2px solid #dbe6ce;
  border-radius: 8px;
  width: 8em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.indexPost{
  text-align: center;
  background-color: #fff8dc;
  border: 2px solid #dbe6ce;
  border-radius: 8px;
  width: 80%;
  padding: 16px;
  margin: 16px auto;
}

.indexPost p{
  font-size: 20px;
  font-weight: 600;
  color: black;
}

a{
  text-decoration: none;
}

.btn{
  background-color: rgb(193, 177, 72);
  border-radius: 24px;
  margin: 16px auto;
  width: 16em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 800;
}

.btn a{
  color: #fffffc;
}


